@import './_variables.css';
/*========== TAB-BUTTON ==========*/
.tab-button {
  border: none;
  padding: 0;
  outline: 0;
  background-color: transparent;
  cursor: pointer;

  font-family: var(--title-font);
  font-size: var(--normal-font-size);
  font-weight: 600;
  color: var(--green-color);
  box-shadow: var(--primary-shadow);

  text-transform: uppercase;
  transition: 0.05s ease-in-out;
}

.tab-button:disabled {

}

.tab-button {
  background: var(--background-alt-color);
}

.tab-button:hover {
  background: var(--green-color);
  color: var(--white-color);
}

.tab-button:active {
  transform: translateY(5px);
}

.tab-button-active {
  color: var(--white-color);
  background: var(--green-color);
}

/*========== ICON-BUTTON ==========*/
.icon__button {
  border: none;
  padding: 0;
  outline: 0;
  background-color: transparent;
  cursor: pointer;
  transition: all 0.2s;

  width: 20px;
  height: 20px;
}

.icon__button:active,
.icon__button:hover {
  border: none;
}

.icon__button:hover {
  transform: translateX(4px);
}

.icon__button:active {
  transform: translateX(1px);
}

.icon__button img {
  width: 20px;
  height: 20px;
  pointer-events: none;
}

/*========== MAIN-BUTTON ==========*/
.main-button {
  width: 200px;
  background: var(--green-color);
  color: var(--white-color);
  border: none;
  border-radius: 10px;
  position: relative;

  justify-self: end;
  cursor: pointer;
  font-family: var(--title-font);
  font-weight: 600;
  font-size: var(--small-font-size);

  transition: backgroung 0.2s ease-in-out;
}

.main-button img {
  width: 14px;
  height: 12px;
  position: absolute;
  top: 14px;
  right: 30px;
  pointer-events: none;
  transition: transform 0.15s ease-in-out;
}

.main-button:active {
  opacity: 0.7;
}

.main-button:hover img {
  transform: translateX(10px);
}

@media screen and (max-width: 420px) {
  .main-button {
    width: 100%;
  }
}
