/*========== SUMMARY-TABLE ==========*/
.summary-table {
  display: grid;
  grid-template-rows: auto;
  padding: 60px 20px 20px 20px;
}

/*========== SUMMARY-TABLE-HEADER ==========*/
.table-header-alt {
  background: var(--green-color);
  border-radius: 10px;
  padding: 0 20px;
  box-shadow: var(--primary-shadow);
}

/*========== TABLE-HEADER__LIST ==========*/
.table-header-alt__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  height: 100%;
}

/*========== TABLE-HEADER__ITEM ==========*/
.table-header-alt__item {
  white-space: nowrap;
  overflow: hidden;
  padding-left: 10px;

  font-family: var(--title-font);
  font-size: var(--normal-font-size);
  font-weight: 600;
  color: var(--white-color);
}

/*========== SUMMARY-NOTES ==========*/
/*========== SUMMARY-NOTES ==========*/
.summary-notes {
  display: grid;
  row-gap: 10px;
}

/*========== SUMMARY-NOTE ==========*/
.summary-note {
  height: 60px;
  padding: 0 20px;
  border-radius: 10px;
  background: var(--white-color);
  box-shadow: var(--primary-shadow);
}
/*========== SUMMARY-NOTE__HEADER-LIST ==========*/
.summary-note__header-list {
  display: none;
}

/*========== SUMMARY-NOTE__LIST ==========*/
.summary-note__list {
  height: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  justify-content: center;
}

/*========== SUMMARY-NOTE__ITEM ==========*/
.summary-note__item {
  white-space: nowrap;
  overflow: hidden;
  padding-left: 10px;

  font-family: var(--body-font);
  font-size: var(--smaller-font-size);
  font-weight: 400;
  color: var(--gray-color);
}

/*========== MEDIA-QUERY ==========*/
@media screen and (max-width: 768px) {
  /*========== TABLE-HEADER-ALT ==========*/
  .table-header-alt {
    display: none;
  }

  /*========== SUMMARY-NOTE ==========*/
  .summary-note {
    display: grid;
    grid-template-columns: 120px 1fr;
    height: auto;
    padding: 0;
    border-radius: 15px;
  }

  /*========== SUMMARY-NOTE__HEADER-LIST ==========*/
  .summary-note__header-list {
    display: grid;
    grid-template-rows: repeat(3, 20px);
    background: var(--green-color);
    padding: 10px 5px 10px 10px;
    border-radius: 15px 0 0 15px;

    font-family: var(--title-font);
    font-weight: 600;
    font-size: var(--smaller-font-size);
    color: var(--white-color);
  }

  /*========== SUMMARY-NOTE__LIST ==========*/
  .summary-note__list {
    padding: 10px;
    height: 100%;
    grid-template-rows: repeat(3, 20px);
    grid-template-columns: 1fr;
    align-items: center;
    justify-content: center;
  }

  /*========== SUMMARY-NOTE__ITEM ==========*/
  .summary-note__item {
    display: grid;
    padding-left: 0;
  }

  .summary-note__item span {
    background: var(--white-color);
  }
}
